# Chatbot UI
DEFAULT_MODEL=gpt-4
NEXT_PUBLIC_DEFAULT_SYSTEM_PROMPT=You are ChatGPT, a large language model trained by OpenAI. Follow the user's instructions carefully. Respond using markdown.
OPENAI_API_KEY=YOUR_KEY
#OPENAI_ORGANIZATION=

# Azure
OPENAI_API_HOST=
OPENAI_API_TYPE=azure
OPENAI_API_VERSION=
OPENAI_API_KEY=
AZURE_DEPLOYMENT_ID=gpt-4

# Google
GOOGLE_API_KEY=YOUR_API_KEY
GOOGLE_CSE_ID=YOUR_ENGINE_ID

# Masking
MASKING_API=http://MASKING_API:5000
MASKING_API_KEY=MASKING_API_KEY
